.profile-box {
    position: relative;
}
  
.name-card {
    position: relative;
    
}
  
  /* background card */
.card-bg {
    position: absolute;
    left: 101px;
    top: 65px;
    width: 942px;
    height: 559px;
    background: #27272a;
    border-radius: 12px;
}
  
  /* avatar */
.avatar {
    position: absolute;
    left: 159px;
    top: 129px;
    width: 256px;
    height: 256px;
    background: #d4d4d8;
    border-radius: 50%;
}
  
  /* name */
.name {
    position: absolute;
    left: 173px;
    top: 419px;
    width: 224px;
    height: 32px;
    background: #d4d4d8;
    border-radius: 6px;
}
  
  /* title */
.title {
    position: absolute;
    left: 534px;
    top: 137px;
    width: 192px;
    height: 40px;
    background: #d4d4d8;
    border-radius: 4px;
}
  
  /* description */
.description {
    position: absolute;
    left: 534px;
    top: 208px;
    width: 464px;
    height: 112px;
    background: #d4d4d8;
    border-radius: 6px;
}
  
  /* label */
  .label {
    position: absolute;
    left: 534px;
    top: 347px;
    width: 192px;
    height: 36px;
    background: #d4d4d8;
    border-radius: 4px;
  }
  
  /* lines */
  .line {
    position: absolute;
    left: 534px;
    width: 464px;
    height: 28px;
    background: #d4d4d8;
    border-radius: 6px;
  }
  
  .line-1 { top: 417px; }
  .line-2 { top: 453px; }
  .line-3 { top: 490px; }
  .line-4 { top: 526px; }
  